<div class="col-md-12">
  <div class="card">
    <div class="modal-header" style="background-color: gainsboro ; color: black;">
      <span style="float: left; font-weight: bold;">{{title}}</span>
      <span style="float:right;">{{raiseOn}}</span>
    </div>
    <form class="form form-horizontal striped-rows form-bordered">
      <div class="form-body">
          <div *ngFor="let obj of details" class="form-group details">
              <span style="text-align:justify;">{{obj.remarks}}
                <span style="color: rgb(94, 201, 243);">
                  - {{obj.updateBy}} ({{obj.addedOn}})
                </span>
              </span>
          </div>
          <div class="col-md-12" style="padding-top:20px;">
            <textarea  rows="8" class="form-control" name="details" placeholder="Max 500 words" autofocus="true"></textarea>
          </div>

          <div class="form-actions">
            <button type="button" class="btn btn-raised btn-warning mr-1" (click)="resetTicketForm()"> Cancel</button>
            <button type="submit" class="btn btn-raised btn-primary">Submit</button>
          </div>
      </div>
    </form>
  </div>
</div>