<div class="row" *ngIf="showIdCoulmn">
		<div class="col-md-12">
		  <div class="card">
				<div class="card-header">
						<span class="card-title">Create Sub Ticket for - {{title}}</span>
					</div>
				<div class="card-body">
					<div id ="offersummarydata" style="font-size: 0.8em; overflow-x: auto; overflow-y: auto; height: auto;">
							<table id="summaryTable" cellpadding="0" cellspacing="0" class="display table" style="padding:0 20px">
									<!-- <thead>
										<tr><th style="padding: 5px;">Ticket Id</th></tr>
										<tr><th style="padding: 5px;">Assign To </th></tr>
										<tr><th style="padding: 5px;">Subject</th></tr>
										<tr><th style="padding: 5px;">Raise On</th></tr>
									</thead> -->
									<tbody>
										<tr class="col-md-12" *ngFor="let obj of ticketDetails">
											<td class="hidden-phone col-md-04"><b>Ticket Id : </b>{{obj.ticketId}}</td>
											<td class="hidden-phone col-md-04"><b>Assign To : </b>{{obj.assignedTo}}</td>
											<td class="hidden-phone col-md-04"><b>Raise On : </b>{{obj.addedOn}}</td>
										</tr>
										<tr class="col-md-12" *ngFor="let obj of ticketDetails">
												<td class="hidden-phone col-md-04"><b>Status : </b>{{obj.status}}</td>
												<td class="hidden-phone col-md-04"><b>Raise By : </b>{{obj.raisedBy}}</td>
												<td class="hidden-phone col-md-04"><b>Priority : </b>{{obj.priorityLevel}}</td>
										</tr>
										<tr class="col-md-12" *ngFor="let obj of ticketDetails">
											<td class="hidden-phone col-md-04"><b>Category : </b>{{obj.problemType}}</td>
											<td class="hidden-phone col-md-04"><b>Platform : </b>{{obj.platform}}</td>
											<td class="hidden-phone col-md-04"><b>Description : </b>{{obj.description}}</td>
										</tr>
									</tbody>
								</table>
					</div>
				</div>
			</div>
		</div>
</div>


<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<span class="card-title"><i class="ft-file-text"></i>Ticket Information</span>
			</div>
			<form [formGroup]="createTicketForm" (ngSubmit)="submitNewTicket()" class="form form-horizontal striped-rows form-bordered" novalidate>
				<div formGroupName="ticketInformation">
					<div class="card-body">
						<div class="form-body">
							<!-- <h4 class="form-section"><i class="ft-file-text"></i>Ticket Information</h4> -->
							<div class="form-group row">
								<label class="col-md-3 label-control" for="projectinput7">Problem Statememt</label>
								<div class="col-md-9">
									<input formControlName="title" class="form-control" placeholder="Problem Statememt" name="title" id="title" required>
									<small class="form-text text-muted danger" *ngIf="!createTicketForm.get('ticketInformation.title').valid && (createTicketForm.get('ticketInformation.title').dirty || createTicketForm.get('ticketInformation.title').touched)">
										Title is required!
									</small>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-3 label-control" for="projectinput7">Platform</label>
								<div class="col-md-9">
									<select  formControlName="platform" name="platform"  class="form-control"  >
										<option value="" selected="" disabled="true">Select Platform</option>
										<option *ngFor="let obj of platform" [value]='obj.name'>{{obj.name}}</option>
									</select>
									<small class="form-text text-muted danger" *ngIf="!createTicketForm.get('ticketInformation.platform').valid && (createTicketForm.get('ticketInformation.platform').dirty || createTicketForm.get('ticketInformation.platform').touched)">
										Platform is required!
									</small>
								</div>
							</div>
							
							<div class="form-group row">
								<label class="col-md-3 label-control" for="projectinput7">Priority</label>
								<div class="col-md-9">
									<!-- <div class="input-group">
										<input formControlName="priorityLevel" type="text" class="form-control" placeholder="Problem Type" name="priorityLevel" required>
									</div> -->
									<select  formControlName="priorityLevel" name="priorityLevel"  class="form-control"  >
										<option value="" selected="" disabled="true">Select Priority</option>
										<option *ngFor="let obj of priority" [value]='obj.name'>{{obj.name}}</option>
									</select>
									<small class="form-text text-muted danger" *ngIf="!createTicketForm.get('ticketInformation.priorityLevel').valid && (createTicketForm.get('ticketInformation.priorityLevel').dirty || createTicketForm.get('ticketInformation.priorityLevel').touched)">
										Priority Level is required!
									</small>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-3 label-control" for="projectinput7">Category</label>
								<div class="col-md-9">
									
										<!-- <input formControlName="problemType" type="text" class="form-control" placeholder="Problem Type" name="problemType" required> -->
										<select  formControlName="problemType" name="problemType"  class="form-control" (change) ="CheckProblemType($event)">
											<option value="" selected="" disabled="true">Select Category </option>
											<option *ngFor="let problem of problemType" [value]='problem.name'>{{problem.name}}</option>
										</select>
									
									<small class="form-text text-muted danger" *ngIf="!createTicketForm.get('ticketInformation.problemType').valid && (createTicketForm.get('ticketInformation.problemType').dirty || createTicketForm.get('ticketInformation.problemType').touched)">
										Category is required!
									</small>
								</div>
							</div>
							<div class="form-group row" *ngIf="showColumn">
								<label class="col-md-3 label-control" for="projectinput7">Country</label>
								<div class="col-md-9">
									<div class="input-group">
										<input formControlName="country" type="text" class="form-control" placeholder="Enter Country Name" name="country" >
									</div>
									<small class="form-text text-muted danger" *ngIf="!createTicketForm.get('ticketInformation.country').valid && (createTicketForm.get('ticketInformation.country').dirty || createTicketForm.get('ticketInformation.country').touched)">
										Country Name is required!
									</small>
								</div>
							</div>
							<div class="form-group row" *ngIf="showColumn">
								<label class="col-md-3 label-control" for="projectinput7">Operator</label>
								<div class="col-md-9">
									<div class="input-group">
										<input formControlName="operator" type="text" class="form-control" placeholder="Enter Operator Name" name="operator">
									</div>
	
									<small class="form-text text-muted danger" *ngIf="!createTicketForm.get('ticketInformation.operator').valid && (createTicketForm.get('ticketInformation.operator').dirty || createTicketForm.get('ticketInformation.operator').touched)">
										Operator Name is required!
									</small>
								</div>
							</div>
							<div class="form-group row" *ngIf="showColumn">
								<label class="col-md-3 label-control" for="projectinput7">Biller</label>
								<div class="col-md-9">
									<div class="input-group">
										<input formControlName="biller" type="text" class="form-control" placeholder="Enter Biller Name" name="biller">
									</div>
	
									<small class="form-text text-muted danger" *ngIf="!createTicketForm.get('ticketInformation.biller').valid && (createTicketForm.get('ticketInformation.biller').dirty || createTicketForm.get('ticketInformation.biller').touched)">
										Biller Name is required!
									</small>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-3 label-control" for="projectinput7">Assign To</label>
								<div class="col-md-9">
									<!-- <div class="input-group">
										<input formControlName="assignTo" type="text" class="form-control" placeholder="Problem Type" name="assignTo" required>
									</div> -->
									<select  formControlName="assignTo" name="assignTo"  class="form-control" (click)="getTickets()">
										<option value="" selected="" disabled="true">Select Person</option>
										<option *ngFor="let user of users" [value]='user.emailId'>{{user.emailId}}</option>
									</select>
									<small class="form-text text-muted danger" *ngIf="!createTicketForm.get('ticketInformation.assignTo').valid && (createTicketForm.get('ticketInformation.assignTo').dirty || createTicketForm.get('ticketInformation.assignTo').touched)">
										This Field is required!
									</small>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-3 label-control" for="projectinput9">Description</label>
								<div class="col-md-9">
									<textarea formControlName="details" rows="3" class="form-control" name="details" placeholder="About Ticket"></textarea>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-3 label-control" for="projectinput9">Add Files</label>
								<div class="col-md-9">
									<button class="add-files-btn" (click)="addFiles()">
										Choose Files
									</button>
								</div>
							</div>

						</div>
						<div class="form-actions my-button">
							<button type="button" class="btn btn-raised btn-warning mr-1" (click)="resetTicketForm()"> Cancel</button>
							<button type="submit" class="btn btn-raised btn-primary" [disabled]="!createTicketForm.valid">Submit</button>
						</div>
						<!-- </div> -->
					</div>
				</div>
			</form>
		</div>
	</div>
</div>