.from-date{
    padding-left: 10px;
    padding-right: 10px;
}

// .search-icon{
//     top: 2.5%;
// }

.btn {
    margin-bottom: 0;
}

#viewoption{
    float: right;
    margin-right: 2%;
    
}
.card-title {
    display: inline-block;
}

.btn-control{
    display: inherit;
}

#search{
    width:35%;
    display: inline-block;
    padding-left: 6%;
}

// .search-icon{
//     left: 4%;
//     position: absolute;
//     top: 3%;
// }
