<!-- <button type="button" class="btn btn-raised btn-warning mr-1" (click)="login()"> Login </button> -->
<div class="row">
    <div class="col-xl-2 col-lg-2 col-md-2 col-12">
        <div class="card gradient-blackberry" (click)="getTotalTicket()" id="click">
          <div class="card-body">
            <div class="pb-0" style="padding:15px;">
              <div class="media">
                <div class="media-body white text-left">
                  <h3 class="mb-0">{{totalTickets}}</h3>
                  <span>Total</span>
                </div>
                <div class="media-right white text-right">
                  <i class="icon-pie-chart font-large-1"></i>
                </div>
              </div>
            </div>
            <div class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
            </div>
          </div>
        </div>
      </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-12">
      <div class="card gradient-strawberry" (click)="getToStartTicket()" id="click">
        <div class="card-body">
          <div class="pb-0" style="padding:15px;">
            <div class="media">
              <div class="media-body white text-left">
                <h3 class="mb-0">{{startTickets}}</h3>
                <span>To Start</span>
              </div>
              <div class="media-right white text-right">
                <i class="icon-pie-chart font-large-1"></i>
              </div>
            </div>
          </div>
          <div class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-12" >
        <div class="card gradient-green-tea" (click)="getPendingTicket()" id="click">
          <div class="card-body">
            <div class="pb-0" style="padding:15px;">
              <div class="media">
                <div class="media-body white text-left">
                  <h3 class="mb-0">{{pendingTickets}}</h3>
                  <span>Pending</span>
                </div>
                <div class="media-right white text-right">
                  <i class="icon-pie-chart font-large-1"></i>
                </div>
              </div>
            </div>
            <div class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
              <!-- <x-chartist class="" [data]="WidgetlineChartSales.data" [type]="WidgetlineChartSales.type" [options]="WidgetlineChartSales.options" [responsiveOptions]="WidgetlineChartSales.responsiveOptions"
                          [events]="WidgetlineChartSales.events">
              </x-chartist> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-12">
        <div class="card gradient-pomegranate" (click)="getHoldTicket()" id="click">
          <div class="card-body">
            <div class="pb-0" style="padding:15px;">
              <div class="media">
                <div class="media-body white text-left">
                  <h3 class="mb-0">{{holdTickets}}</h3>
                  <span>Hold</span>
                </div>
                <div class="media-right white text-right">
                  <i class="icon-pie-chart font-large-1"></i>
                </div>
              </div>
            </div>
            <div class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
              <!-- <x-chartist class="" [data]="WidgetlineChartProfit.data" [type]="WidgetlineChartProfit.type" [options]="WidgetlineChartProfit.options" [responsiveOptions]="WidgetlineChartProfit.responsiveOptions"
                          [events]="WidgetlineChartProfit.events">
              </x-chartist> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-12">
        <div class="card gradient-orange-amber"  (click)="getCompletedTicket()" id="click">
          <div class="card-body">
            <div class="pb-0" style="padding:15px;">
              <div class="media">
                <div class="media-body white text-left">
                  <h3 class="mb-0">{{doneTickets}}</h3>
                  <span>Done</span>
                </div>
                <div class="media-right white text-right">
                  <i class="icon-pie-chart font-large-1"></i>
                </div>
              </div>
            </div>
            <div class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-12">
        <div class="card gradient-purple-deep-purple" (click)="getWorkingTickets()" id="click">
          <div class="card-body">
            <div class="pb-0" style="padding:15px;">
              <div class="media">
                <div class="media-body white text-left">
                  <h3 class="mb-0">{{workingTickets}}</h3>
                  <span>Working</span>
                </div>
                <div class="media-right white text-right">
                  <i class="icon-pie-chart font-large-1"></i>
                </div>
              </div>
            </div>
            <div class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="card">
    <div class="card-body">
        <div id="vartical-bar-chart" class="height-500">
            <ngx-charts-bar-vertical-2d [scheme]="barChartColorScheme" [results]="barChartmulti" [gradient]="barChartGradient" [xAxis]="barChartShowXAxis" [barPadding]="3" [groupPadding]="5"
            [yAxis]="barChartShowYAxis" [legend]="barChartShowLegend"  [xAxisLabel]="barChartXAxisLabel" [yAxisLabel]="barChartYAxisLabel" [showDataLabel]="barChartShowDataLabel" (select)="onSelect($event)">
        </ngx-charts-bar-vertical-2d>
    </div>
  </div>
  </div>